*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background: cover;
    text-align: center;
    font-size: 10px;
}

body{
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}



.clock{
    width: 40rem;
    height: 40rem;
    border: 20 solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), 
                inset 0 0 0 3px #EFEFEF,
                inset 0 0 10px black,
                0 0 10px rgba(0, 0, 0, 0.2);
}

.clock .number{

    --rotation : 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));

}

.clock .number-1{ --rotation: 30deg }
.clock .number-2{ --rotation: 60deg }
.clock .number-3{ --rotation: 90deg }
.clock .number-4{ --rotation: 120deg }
.clock .number-5{ --rotation: 150deg }
.clock .number-6{ --rotation: 180deg }
.clock .number-7{ --rotation: 210deg }
.clock .number-8{ --rotation: 240deg }
.clock .number-9{ --rotation: 270deg }
.clock .number-10{ --rotation: 300deg }
.clock .number-11{ --rotation: 330deg }
.clock .number-12{ --rotation: 360deg }

.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.stick{
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    
}

.hour-stick, .min-stick{

    background: rgba(0, 0, 0, 0.8);

}

.sec-stick{

    background: rgba(0, 0, 0, 0.4);

}
