*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;    
    background-color: #685a62;
}

.logo{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgba(226, 226, 226, 0.9);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}

.burguer{
    display: none;
    cursor: pointer;

}

.burguer div{
    width: 25px;
    height: 3px;
    background-color: rgba(226, 226, 226, 0.9);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){

    .nav-links{
        widows: 60%;
    }

}

@media screen and (max-width: 768px){

    body{
        overflow-x: hidden ;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:  #685a62;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burguer{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
       transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(45deg);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(-45deg);
}