*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background: linear-gradient(135deg, #c9dbf5 0%, #626a77 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: rgba(0, 0, 0, 0.2);
}

h2{

    text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
    font-size: 100px;

}

.movement{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
}